# Finalized
BasedOnStyle: LLVM
TrimTrailingWhitespace: true
NamespaceIndentation: All
FixNamespaceComments: false
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 0
IndentCaseLabels: true
SpaceBeforeCpp11BracedList: true
PointerAlignment: Left
SpaceBeforeInheritanceColon: false

#MaxEmptyLinesToKeep: 1
#KeepEmptyLinesAtTheStartOfBlocks: false
#BinPackArguments: true
#BinPackParameters: true
#AllowShortFunctionsOnASingleLine: None
